header{

}

aside {
    background: #f0f0f0;
    padding: 10px;
    width: 250px;
    float: left;
    font-size: 15;
    display: block;
   }

article {
    margin-right: 240px;
    display: block;
    float: left;
  }

.login{
    display: inline-block;
    margin: 10px;
}