{%  load static %}
<html>
<head>
    <title>LiteNote</title>
    <link rel="stylesheet" type="text/css" href="{% static "extjs4/resources/css/ext-all.css" %}">
    <link rel="stylesheet" type="text/css" href="/static/css/noties.css">
    <script type="text/javascript" src="{% static "extjs4/ext-all.js" %}"></script>
    {% block header %}{% endblock %}
</head>
<body>
<header>
    <h1><a href={% url 'home' %}>LiteNote</a></h1>
</header>
<aside>
    {% block login-and-list  %}{% endblock %}
</aside>
<article>
    {% block content %}{% endblock %}
</article>
</body>
</html>