{%  load static %}
<html>
<head>
    <title>LiteNote</title>
    <link rel="stylesheet" type="text/css" href="{% static "extjs4/resources/css/ext-all.css" %}">
    <script type="text/javascript" src="{% static "extjs4/ext-all.js" %}"></script>
</head>
<body>
<h1><a href={% url 'home' %}>LiteNote</a></h1>
<div class="login-and-logout">
    {% block login-and-logout %}{% endblock %}
</div>
<div class="row">
    {% block error %}{% endblock %}
    {% block content %}{% endblock %}
</div>
</body>
</html>